
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
/* .container{
    background-color: black;
    color:aliceblue;
    font-size: 200%;
} */

.divGrande{
    height: 150px; 
    width: 50%;   
    border-radius: 10px;
 
}

.digitos{
    margin: auto;
    height: 105px;
    text-align: center;
    border-radius: 10px;
}

